### Gradle IGNORE ###

.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA IGNORE ###

/.idea/
*.iws
*.iml
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse IGNORE ###

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code IGNORE ###

/.vscode/

### Mac OS IGNORE ###

.DS_Store

### Misc ###

# Built during dev
/run/
gradle.properties
# library files (extracted assets.zip)
/lib
# Build Files
build/
/sounds
