org.gradle.jvmargs=-Xmx1G
org.gradle.caching=false
org.gradle.configuration-cache=false

# Update this directory with your Hytale installation path. Then rename the file to just "gradle.properties"
hytale.install_dir=/home/team/.var/app/com.hypixel.HytaleLauncher/data/Hytale
hytale.decompile_partial=true

# Plugin Metadata
plugin_group=Team
plugin_description=Bring the true power of magic to Hytale
plugin_author=Team
plugin_website=
plugin_main_entrypoint=com.team.plugin.Plugin
server_version=*
